.header{
    height:64px;
    background:var(--header-color);
    display:flex;
    width:100vw;
    justify-content: space-between;
    align-items: center;
    padding:0 32px;
    box-sizing: border-box;
    color:var(--bg-color);
    &__logo{
        font-size:32px;
    }
    &__currencies{
        display:flex;
        align-items: center;
        gap:8px;
    }
    img{
        margin:0;
        height:32px;
    }
}
